# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# visual studio
*.suo
*.sdf
*.user
*.exp
*.pdb
*.log
*.tlog
*.idb
*.ilk
*.ipdb
*.iobj
*.opensdf
*.pyc

# idlcpp
*.mh
*.ic
*.mc